//! block adv
.adv-wraper 
	padding 120px 0
	bgi('bg.png')
	background-size cover
	background-position center
	background-repeat no-repeat
	.main-cont 
		flex(between)
		fl()
		fw()
//.adv-title 
//.adv-title-sub 
.adv-title 
	text-align center
	color white
	font-size 60px
	font-weight 100 
.adv-title-sub 
	text-align center
	color white
	font-size 36px
	font-weight 700
	margin-bottom 90px
.adv 
	flex(between)
	margin-bottom 80px
.adv__el 
	flex(between)
	fl()
	fw()
	width 22%
	padding 0 20px
.adv__el-icon 
	margin-bottom 30px
	.icons 
		fill yellow
		size 100
.adv__el-title 
	color white
	font-size 30px
	font-weight 700
	margin-bottom 20px
.adv__el-text 
	font-size 14px
	font-weight 300
	line-height 22px
	color rgba(255, 255, 255, 0.6);
	text-align center
.adv-btn 
	@extend .btn
	@extend .btn--yellow
	border 0px
	br(3px)
	up()
//!block adv end