//! block footer
.footer-wraper 
	background dark 
	padding 140px 0
//.main-cont 
.footer 
	flex(between)
	margin-bottom 80px
.footer__col 
	width 22%
.footer__col-el 
	tr(all)
	display block
	margin-bottom 10px
	color rgb(206, 206, 206);
	text-align center
.footer_copyright 
	up()
	text-align center
	color white
//!block footer end