mixin footer()
	//block footer
	.footer-wraper
		.main-cont
			.footer
				- for (var j = 0; j < 4; j++)
					.footer__col
						- for (var i = 0; i < 3; i++)
							a(href="#").footer__col-el  Ad litora torquent
							a(href="#").footer__col-el  Per conubia
			.footer_copyright create by Anatoly Kuznetcov
	//block footer end

