mixin service()
	//block service
	.service-wraper
		.main-cont
			.service
				.service-info
					.service-info__el
							.service-info__title
								.service-info__icon
									+icon("icon-1","icons")
								.service-info__name Print services
							.service-info__text Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus velit. Suspendisse in justo nulla.
					.service-info__el
							.service-info__title
								.service-info__icon
									+icon("icon-4","icons")
								.service-info__name IT services
							.service-info__text Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus velit. Suspendisse in justo nulla. 
				.service-img
					img(src="img/phone.png", alt="")
				.service-info
					.service-info__el
							.service-info__title
								.service-info__icon
									+icon("icon-2","icons")
								.service-info__name Mobile devices
							.service-info__text Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus velit. Suspendisse in justo nulla.
					.service-info__el
							.service-info__title
								.service-info__icon
									+icon("icon-3","icons")
								.service-info__name Print services
							.service-info__text Fusce eu tortor tristique, varius sem sollicitudin, viverra ante. Curabitur id metus velit. Suspendisse in justo nulla.  

	//block service end