//! block service
.service-wraper 
	background dark 
	padding 120px 0 60px 0
	color white
.service 
	flex(between)
	align-items flex-start
.service-info 
	width 30%
.service-info__el 
	margin-bottom 50px
.service-img
	width 40%
	img
		margin-top -300px
.service-info__title 
	f()
	align-items center
	margin-bottom 20px
.service-info__icon
	margin-right 20px
	.icons 
		fill yellow
		size 30
.service-info__name 
	font-size 36px
	font-weight 300
	line-height 48px
.service-info__text 
	color white
	font-family Roboto
	font-size 16px
	font-weight 300
	line-height 30px
//.service-img 
//!block service end