//! block team
.team-wraper 
	padding 120px 0
	background yellow 
//.main-cont 
.team-title 
	text-align center
	color #191b29
	font-size 60px
	font-weight 100 
.team-title-sub 
	text-align center
	color #191b29
	font-size 36px
	font-weight 700
	margin-bottom 90px
.team 
	flex(between)
.team-el 
	flex(mid)
	fl()
	fw()
	width 23%
.team-el__img 
	margin-bottom 40px
/*	size 150px
	background-size cover
	background-position center
	br(50%)*/
.team-el__title 
	text-align center
	font-size 30px
	font-weight 700
	margin-bottom 20px
	 
.team-el__text 
	text-align center
	color rgba(17, 17, 17, 0.6);
//!block team end