//! block discr
.dicr
	position relative
.dicr__info
	background yellow 
.dicr__row 
	padding 70px 0
.dicr__row--yellow 
	background lighten(yellow,20) 
.dicr-cont
	width 40%
.dicr-img
	position absolute
	right 0
	top 0
	background-size cover
.dicr__title 
	@extend .type-title
	font-weight 700
.dicr__btn 
	@extend .btn
	margin-top 40px
	display inline-block 
	background dark
	color white
	up()
//.dicr__img 
//!block discr end