mixin discr()
	//block discr
	.dicr
		.dicr-img
			img(src="img/notebook.png", alt="")
		.dicr__row.dicr__row--yellow
			.main-cont
				.dicr-cont
					.dicr__title This is awsome APP
					p Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget tortor lobortis tincidunt sed eu dolor. Phasellus cursus augue ac pulvinar cursus.
		.dicr__row
			.main-cont
				.dicr-cont
					.dicr__title This is awsome APP
					p Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget tortor lobortis tincidunt sed eu dolor. Phasellus cursus augue ac pulvinar cursus.
					p Nam accumsan nunc sit amet elementum sollicitudin. Integer vel lacus eget tortor lobortis tincidunt sed eu dolor. Phasellus cursus augue ac pulvinar cursus.
				a(href="#").dicr__btn download now
	//block discr end